altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==2.0.12
colorama==0.4.6
idna==3.4
importlib-metadata==7.0.1
lxml==4.9.2
mmh3==4.1.0
packaging==23.2
pefile==2023.2.7
pycryptodomex==3.19.0
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
PySocks==1.7.1
pywin32-ctypes==0.2.2
requests==2.27.1
urllib3==1.25.11
zipp==3.17.0
